
{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" type="text/css" href= "{% static 'css/styles.css' %}"/>
    <title> 
        {% block title %}
        
        {% endblock %}
        |
        Uriel Rojas


    </title>
    
  <body>

    <header>
      <div id="logotipo">
        <img src="{% static "imgs/logo.png" %}" alt="cicmd">
        <h1>Poyecto con DJango</h1>
      </div>
    </header>

    <nav>
      <ul>
        <li>
          <a href={% url 'index' %}>Inicio</a>
        </li>
        
  
        <li>
          <a href={% url 'about' %}>Sobre Nosotros</a>
        </li>
      </ul>
    </nav>

    <div class="barra">
      
      <span class="esquina-izquierda"></span>
      <span class="relleno-barra"></span>
      <span class="esquina-derecha"></span>

    </div>

    <div id="content">

      <div class="box">

        
        {% block content%}
        <strong> Contenido del bloque original!!! </strong>

        {% endblock %}

      </div>
      
    </div>

  </body>

  <footer>
    Master en python &copy; Uriel Rojas WEB - {% now "Y-m-d" %}
  </footer>
</html>
